.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse
.classpath
.project
.settings/


# Maven
log/
target/

# JDT-specific (Eclipse Java Development Tools)
.classpath